%h1 Producers

= link_to "All Producers", :action => "index"
|
= link_to "Producers awaiting approval", :action => "index", :approved => "false"

%table
    - @producers.each do |user|
        %tr
            %td= producer.email
            %td= producer.approved
            %td= link_to "Edit", edit_producer_path(producer)